<script type="text/javascript" src="../static/js/order.js" th:src="@{js/order.js}"></script>
<div id="menu">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" style="margin-right: 100px" plain="true" onclick="formDialog()">添加订单</a>
    <label for="orderId"></label><input id="orderId" prompt="订单id" class="easyui-textbox" >
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-search'" onclick="searchByOrderId()">搜索</a>
</div>
<table id="orderListGrid"></table>