<script type="text/javascript" src="../static/js/product.js" th:src="@{js/product.js}"></script>
<div id="menu">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" style="margin-right: 100px" plain="true" onclick="formDialog()">添加商品</a>
    <label for="ProductId"></label><input id="productId" prompt="商品id" class="easyui-textbox" >
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-search'" onclick="searchByProductId()">搜索</a>
</div>
<table id="productListGrid"></table>