<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <!--添加用户弹出框-->
  <div id="dlg" class="easyui-dialog" style="width:480px;height: 550px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fm" th:method="post" th:action="@{/system/user/addUser}" novalidate style="margin:0;padding:20px 50px">
      <h3>用户信息</h3>
      <div style="margin-bottom:10px">
        <label for="userName"></label><input id="userName" name="userName" class="easyui-textbox" required label="用户名:" style="width:100%;">
      </div>
      <div style="margin-bottom:10px">
        <label for="password"></label><input id="password" name="password" class="easyui-textbox" required label="密码:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="realName"></label><input id="realName" name="realName" class="easyui-textbox" required label="真实姓名:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="sex"></label><input id="sex" name="sex" class="easyui-textbox" label="性别:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="address"></label><input id="address" name="address" class="easyui-textbox" label="地址:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="question"></label><input id="question" name="question" class="easyui-textbox" label="密保问题:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="answer"></label><input id="answer" name="answer" class="easyui-textbox" label="密保答案:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="email"></label><input id="email" name="email" class="easyui-textbox" label="email:" style="width:100%">
      </div>
    </form>
  </div>
  <!--弹出框按钮-->
  <div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')" style="width:90px">取消</a>
  </div>
</body>

<script>
  /*添加新用户*/
  function newUser(){
  $('#dlg').dialog('open').dialog('center').dialog('setTitle','添加用户');
  $('#fm').form('clear');
  }
</script>
</html>