<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form id="userForm" th:method="post" th:action="@{/system/user/save}" novalidate style="width: 360px; height: 400px;margin:0;padding:20px 50px">

    <h3>用户信息</h3>
    <input type="hidden" name="id" th:value="${user?.id}">
      <div style="margin-bottom:10px">
        <label for="userName"></label>
        <input id="userName" name="userName" th:value="${user?.userName}" class="easyui-textbox" required label="用户名:" style="width:100%;">
      </div>
      <div style="margin-bottom:10px">
        <label for="password"></label><input id="password" name="password" class="easyui-textbox" required label="密码:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="realName"></label><input id="realName" name="realName" class="easyui-textbox" required label="真实姓名:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="sex"></label><input id="sex" name="sex" class="easyui-textbox" label="性别:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="address"></label><input id="address" name="address" class="easyui-textbox" label="地址:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="email"></label><input id="email" name="email" class="easyui-textbox" label="邮箱:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="score"></label><input id="score" name="score" class="easyui-textbox" label="等级:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="regDate"></label><input id="regDate" name="regDate" class="easyui-textbox" label="注册日期:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <label for="status"></label><input id="status" name="status" class="easyui-textbox" label="状态:" style="width:100%">
      </div>
</form>
</body>
</html>